canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#bg {
  overflow: none;
}

#title-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

#projects-bg {
  z-index: 3;
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgb(22, 22, 22);
}

.title-container {
  padding: 22.2rem;
  position: relative;
  z-index: 2;
}

h1 {
  color: white;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  position: fixed;
  z-index: 1;
}

.content-container {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15rem 15rem;
  position: relative;
  z-index: 2;
  background-color: rgb(32, 32, 32);
}

.text-column {
  flex: 2;
}

#side-canvas {
  flex: 1;
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: transparent;
  z-index: 10;
}

p {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
  margin: 0;

}

.fade-out-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  background-color: black;
  z-index: 999;
}

.hidden {
  opacity: 0;
  filter: blur(7px);
  transform: translateY(100%);
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15rem 10rem;
  position: relative;
  z-index: 2;
  background-color: rgb(32, 32, 32);
}

.contact-form {
  display: grid;
  grid-template-areas:
    "first-name last-name"
    "email email"
    "message message"
    "submit submit";
  grid-template-columns: auto auto;
  gap: 2rem;
  background-color: rgb(19, 19, 19);
  padding: 2rem;
  border-radius: 8px;
}

.first-name {
  grid-area: first-name;
  padding: 1rem;
}

.last-name {
  grid-area: last-name;
  padding: 1rem;
}

.email {
  grid-area: email;
  padding: 1rem;
}

.message {
  grid-area: message;
  height: 150px;
  padding: 1rem;
}

button#submit {
  grid-area: submit;
  padding: 1rem;
  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;
}

.response-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 5;
  align-items: center;
  display: none;
  flex-direction: column;
}

button {
  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

main {
  width: 100vw;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background: var(--dark-bg);
  grid-column: 1 / span 12;
  font-size: 2.5rem;
  padding: 22rem;
  margin-bottom: var(--spacing);
  z-index: 3;
}

.projects-header {
  z-index: 2;
  background-color: rgb(20, 20, 20);
}

section {
  grid-column: 1 / span 12;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.projects-section {
  grid-column: 1 / span 12;
  padding-top: 10rem;
  background-color: rgb(32, 32, 32);
  z-index: 2;
}

.projects-carousel {
  padding: 30rem;
}

.project-card {
  display: none;
  position: absolute;
  grid-template-areas:
    "header header"
    "info image";
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(19, 19, 19);
  border-radius: 8px;
  z-index: 0;
}

.project-header {
  grid-area: header;
  padding: 2rem;
  color: white;
  font-size: 2.5rem;
  margin-left: 11rem;
}

.project-discription {
  grid-area: info;
  padding: 2rem;
  color: white;
}

.project-image {
  grid-area: image;
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 8px;
}

.button-ui {
  z-index: 100;
}

.back-button, .carousel-ui button {
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0);
  border: white 2px solid;
  color: white;
  opacity: 0.5;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel-ui button {
  position: relative;
  padding: 1rem 2rem;
}

#index-back-button {
  left: 2rem;
  top: 2rem;
  display: none;
}

.carousel-ui {
  margin-top: 35rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 55rem;
  z-index: 100;
}

#projects-back-button {
  left: 5rem;
  top: 60rem;
  display: none;
}

.carousel-ui button:hover, .back-button:hover {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}